tensorflow==2.21.0
matplotlib==3.10.9
torch==1.13.1
pandas==1.2.4
seaborn==0.13.2
opencv_python_headless==4.13.0.92
Flask==1.1.2
onnxruntime==1.26.0
easyocr==1.7.2
coremltools==5.2.0
torchvision==0.26.0
requests==2.33.1
psutil==5.8.0
numpy==1.22.0
scipy==1.17.1
tqdm==4.67.3
openvino==2021.4.2
pytesseract==0.3.13
albumentations==1.1.0
export==0.2.1
ipython==8.10.0
keras_ocr==0.9.3
pafy==0.5.5
Pillow==9.3.0
PyYAML==6.0.3
tensorrt==0.0.1.dev5

